<h4 class="text-center"><%= pcCase.description %></h4>
<table class="table table-striped">
    <tbody>
    <tr>
        <th scope="row">Type</th>
        <td><%= pcCase.type %></td>
    </tr>
    <tr>
        <th scope="row">Fans</th>
        <td><%= pcCase.fans %></td>
    </tr>
    <tr>
        <th scope="row">Material</th>
        <td><%= pcCase.material %></td>
    </tr>
    <tr>
        <th scope="row">Power Supply</th>
        <td><%= pcCase.powerSupply %></td>
    </tr>
    <tr>
        <th scope="row">Motherboard Compatibility</th>
        <td><%= pcCase.motherboardCompatibility %></td>
    </tr>
    <tr>
        <th scope="row">Side Panel Window</th>
        <td><%= pcCase.sidePanelWindow %></td>
    </tr>
    <tr>
        <th scope="row">LED</th>
        <td><%= pcCase.led %></td>
    </tr>
    <tr>
        <th scope="row">Included Fans</th>
        <td><%= pcCase.includedFans %></td>
    </tr>
    <tr>
        <th scope="row">Exterior Slots</th>
        <td><%= pcCase.exteriorSlots %></td>
    </tr>
    <tr>
        <th scope="row">Interior Slots</th>
        <td><%= pcCase.interiorSlots %></td>
    </tr>
    <tr>
        <th scope="row">Other</th>
        <td><%= pcCase.other %></td>
    </tr>
    <tr>
        <th scope="row">Size</th>
        <td><%= pcCase.size %></td>
    </tr>
    </tbody>
</table>