<div class="tab-pane" id="specs">
    <div class="col-sm-12">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>CPU</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Model</th>
                <td><%= array.cpuModel %></td>
            </tr>
            <tr>
                <th scope="row">Architecture</th>
                <td><%= array.cpuArchitecture %></td>
            </tr>
            <tr>
                <th scope="row">Cores</th>
                <td><%= array.cpuCores %></td>
            </tr>
            <tr>
                <th scope="row">Frequency</th>
                <td><%= array.cpuFrequency %></td>
            </tr>
            <tr>
                <th scope="row">Turbo Boost</th>
                <td><%= array.cpuTurboBoost %></td>
            </tr>
            <tr>
                <th scope="row">Graphics</th>
                <td><%= array.cpuGpu %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Motherboard</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Ports</th>
                <td><%= array.boardPorts %></td>
            </tr>
            <tr>
                <th scope="row">Graphics</th>
                <td><%= array.boardGpu %></td>
            </tr>
            <tr>
                <th scope="row">Sound</th>
                <td><%= array.boardSound %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Memory</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Capacity</th>
                <td><%= array.memoryCapacity %></td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td><%= array.memoryType %></td>
            </tr>
            <tr>
                <th scope="row">Frequency</th>
                <td><%= array.memoryFrequency %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Storage</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Type</th>
                <td><%= array.hddType %></td>
            </tr>
            <tr>
                <th scope="row">Capacity</th>
                <td><%= array.hddCapacity %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Connectivity</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Wireless</th>
                <td><%= array.connectivityWireless %></td>
            </tr>
            <tr>
                <th scope="row">LAN</th>
                <td><%= array.connectivityLan %></td>
            </tr>
            <tr>
                <th scope="row">Bluetooth</th>
                <td><%= array.connectivityBluetooth %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Other</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Size</th>
                <td><%= array.otherSize %></td>
            </tr>
            <tr>
                <th scope="row">Weight</th>
                <td><%= array.otherWeight %></td>
            </tr>
            <tr>
                <th scope="row">Special features</th>
                <td><%= array.otherSpecial %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <tbody>
            <tr>
                <th scope="row">Operating Software</th>
                <td><%= array.lastOs %></td>
            </tr>
            <tr>
                <th scope="row">Price</th>
                <td><%= array.lastPrice %></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>