<h4 class="text-center"><%= gpu.description %></h4>
<table class="table table-striped">
    <thead>
    <tr>
        <th class="text-primary">General</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Slot</th>
        <td><%= gpu.generalSlot %></td>
    </tr>
    <tr>
        <th scope="row">GPU</th>
        <td><%= gpu.generalGPU %></td>
    </tr>
    <tr>
        <th scope="row">Type</th>
        <td><%= gpu.generalType %></td>
    </tr>
    <tr>
        <th scope="row">Max Resolution</th>
        <td><%= gpu.generalMaxRes %></td>
    </tr>
    <tr>
        <th scope="row">SLI Support</th>
        <td><%= gpu.generalSLI %></td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th class="text-primary">Processor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Chipset</th>
        <td><%= gpu.cpuChipset %></td>
    </tr>
    <tr>
        <th scope="row">Series</th>
        <td><%= gpu.cpuSeries %></td>
    </tr>
    <tr>
        <th scope="row">Technology</th>
        <td><%= gpu.cpuTechnology %></td>
    </tr>
    <tr>
        <th scope="row">Frequency</th>
        <td><%= gpu.cpuFreq %></td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th class="text-primary">Memory</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Capacity</th>
        <td><%= gpu.memoryCapacity %></td>
    </tr>
    <tr>
        <th scope="row">Type</th>
        <td><%= gpu.memoryType %></td>
    </tr>
    <tr>
        <th scope="row">BUS</th>
        <td><%= gpu.memoryBUS %></td>
    </tr>
    <tr>
        <th scope="row">Frequency</th>
        <td><%= gpu.memoryFreq %></td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th class="text-primary">Connectivity</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Display Port</th>
        <td><%= gpu.connectivityDisplayPort %></td>
    </tr>
    <tr>
        <th scope="row">DVI</th>
        <td><%= gpu.connectivityDVI %></td>
    </tr>
    <tr>
        <th scope="row">HDMI</th>
        <td><%= gpu.connectivityHDMI %></td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th class="text-primary">Cooling</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Type</th>
        <td><%= gpu.coolingType %></td>
    </tr>
    <tr>
        <th scope="row">Cooler</th>
        <td><%= gpu.coolingCooler %></td>
    </tr>
    </tbody>
</table>
