<h4 class="text-center"><%= hdd.description %></h4>
<table class="table table-striped">
    <tbody>
    <tr>
        <th scope="row">Capacity</th>
        <td><%= hdd.capacity %></td>
    </tr>
    <tr>
        <th scope="row">Speed</th>
        <td><%= hdd.speed %></td>
    </tr>
    <tr>
        <th scope="row">Interface</th>
        <td><%= hdd.interface %></td>
    </tr>
    <tr>
        <th scope="row">Format</th>
        <td><%= hdd.format %></td>
    </tr>
    <tr>
        <th scope="row">Cache</th>
        <td><%= hdd.cache %></td>
    </tr>
    <tr>
        <th scope="row">Transfer Rate</th>
        <td><%= hdd.transferRate %></td>
    </tr>
    <tr>
        <th scope="row">Avg Operating Power</th>
        <td><%= hdd.averageOperatingPower %></td>
    </tr>
    </tbody>
</table>