<div class="tab-pane" id="specs">
    <div class="col-sm-12">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>CPU</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Brand</th>
                <td><%= array.cpuBrand %></td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td><%= array.cpuType %></td>
            </tr>
            <tr>
                <th scope="row">Architecture</th>
                <td><%= array.cpuArchitecture %></td>
            </tr>
            <tr>
                <th scope="row">Cache</th>
                <td><%= array.cpuCache %></td>
            </tr>
            <tr>
                <th scope="row">Technology</th>
                <td><%= array.cpuTechnology %></td>
            </tr>
            <tr>
                <th scope="row">Cores</th>
                <td><%= array.cpuCores %></td>
            </tr>
            <tr>
                <th scope="row">Frequency</th>
                <td><%= array.cpuFrequency %></td>
            </tr>
            <tr>
                <th scope="row">Turbo Boost</th>
                <td><%= array.cpuTurboBoost %></td>
            </tr>
            <tr>
                <th scope="row">Graphics</th>
                <td><%= array.cpuGpu %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Display</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Type</th>
                <td><%= array.displayType %></td>
            </tr>
            <tr>
                <th scope="row">Size</th>
                <td><%= array.displaySize %></td>
            </tr>
            <tr>
                <th scope="row">Resolution</th>
                <td><%= array.displayResolution %></td>
            </tr>
            <tr>
                <th scope="row">Format</th>
                <td><%= array.displayFormat %></td>
            </tr>
            <tr>
                <th scope="row">Special features</th>
                <td><%= array.displaySpecial %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Memory</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Capacity</th>
                <td><%= array.memoryCapacity %></td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td><%= array.memoryType %></td>
            </tr>
            <tr>
                <th scope="row">Frequency</th>
                <td><%= array.memoryFrequency %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Storage</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Type</th>
                <td><%= array.hddType %></td>
            </tr>
            <tr>
                <th scope="row">Capacity</th>
                <td><%= array.hddCapacity %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Graphics</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Type</th>
                <td><%= array.gpuType %></td>
            </tr>
            <tr>
                <th scope="row">Brand</th>
                <td><%= array.gpuBrand %></td>
            </tr>
            <tr>
                <th scope="row">Series</th>
                <td><%= array.gpuSeries %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Multimedia</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Optic Drives</th>
                <td><%= array.multimediaOpticDrives %></td>
            </tr>
            <tr>
                <th scope="row">Audio</th>
                <td><%= array.multimediaAudio %></td>
            </tr>
            <tr>
                <th scope="row">Web Camera</th>
                <td><%= array.multimediaWebCamera %></td>
            </tr>
            <tr>
                <th scope="row">Card Reader</th>
                <td><%= array.multimediaCardReader %></td>
            </tr>
            <tr>
                <th scope="row">Supported Cards</th>
                <td><%= array.multimediaSupCards %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Ports</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Audio</th>
                <td><%= array.portsAudio %></td>
            </tr>
            <tr>
                <th scope="row">USB 3.0</th>
                <td><%= array.portsUsb %></td>
            </tr>
            <tr>
                <th scope="row">Thunderbolt</th>
                <td><%= array.portsThunderbolt %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Connectivity</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Wireless</th>
                <td><%= array.connectivityWireless %></td>
            </tr>
            <tr>
                <th scope="row">Bluetooth</th>
                <td><%= array.connectivityBluetooth %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Power</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Battery</th>
                <td><%= array.powerBattery %></td>
            </tr>
            <tr>
                <th scope="row">Usage Time</th>
                <td><%= array.powerTime %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Other</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Size</th>
                <td><%= array.otherSize %></td>
            </tr>
            <tr>
                <th scope="row">Weight</th>
                <td><%= array.otherWeight %></td>
            </tr>
            <tr>
                <th scope="row">Material</th>
                <td><%= array.otherMaterial %></td>
            </tr>
            <tr>
                <th scope="row">Color</th>
                <td><%= array.otherColor %></td>
            </tr>
            <tr>
                <th scope="row">Keyboard</th>
                <td><%= array.otherKeyboard %></td>
            </tr>
            <tr>
                <th scope="row">Numeric</th>
                <td><%= array.otherNumeric %></td>
            </tr>
            <tr>
                <th scope="row">Illuminated keyboard</th>
                <td><%= array.otherLight %></td>
            </tr>
            <tr>
                <th scope="row">Special features</th>
                <td><%= array.otherSpecial %></td>
            </tr>
            <tr>
                <th scope="row">Other</th>
                <td><%= array.otherOther %></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive">
            <tbody>
            <tr>
                <th scope="row">Operating Software</th>
                <td><%= array.lastOs %></td>
            </tr>
            <tr>
                <th scope="row">Price</th>
                <td><%= array.lastPrice %></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>