<h4 class="text-center"><%= power.description %></h4>
<table class="table table-striped">
    <tbody>
    <tr>
        <th scope="row">Power</th>
        <td><%= power.power %></td>
    </tr>
    <tr>
        <th scope="row">Fans</th>
        <td><%= power.fans %></td>
    </tr>
    <tr>
        <th scope="row">Power Socket</th>
        <td><%= power.powerSocket %></td>
    </tr>
    <tr>
        <th scope="row">Special</th>
        <td><%= power.special %></td>
    </tr>
    <tr>
        <th scope="row">Connectors</th>
        <td><%= power.connectors %></td>
    </tr>
    <tr>
        <th scope="row">Modular Source</th>
        <td><%= power.modularSource %></td>
    </tr>
    <tr>
        <th scope="row">Format</th>
        <td><%= power.format %></td>
    </tr>
    <tr>
        <th scope="row">Other</th>
        <td><%= power.other %></td>
    </tr>
    <tr>
        <th scope="row">Size</th>
        <td><%= power.size %></td>
    </tr>
    </tbody>
</table>