<h4 class="text-center"><%= cpu.description %></h4>
<table class="table table-striped">
    <tbody>
    <tr>
        <th scope="row">Cache</th>
        <td><%= cpu.cache %></td>
    </tr>
    <tr>
        <th scope="row">Socket</th>
        <td><%= cpu.socket %></td>
    </tr>
    <tr>
        <th scope="row">Frequency</th>
        <td><%= cpu.frequency %></td>
    </tr>
    <tr>
        <th scope="row">Turbo Boost</th>
        <td><%= cpu.turboBoost %></td>
    </tr>
    <tr>
        <th scope="row">Operating Mode</th>
        <td><%= cpu.operatingMode %></td>
    </tr>
    <tr>
        <th scope="row">No. Cores</th>
        <td><%= cpu.cores %></td>
    </tr>
    <tr>
        <th scope="row">Technology</th>
        <td><%= cpu.technology %></td>
    </tr>
    <tr>
        <th scope="row">Cache L3</th>
        <td><%= cpu.cacheL3 %></td>
    </tr>
    <tr>
        <th scope="row">Cooler</th>
        <td><%= cpu.cooler %></td>
    </tr>
    <tr>
        <th scope="row">Power</th>
        <td><%= cpu.power %></td>
    </tr>
    </tbody>
</table>