<h4 class="text-center"><%= ram.description %></h4>
<table class="table table-striped">
    <thead>
    <tr>
        <th class="text-primary">General</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Type</th>
        <td><%= ram.generalType %></td>
    </tr>
    <tr>
        <th scope="row">Standard</th>
        <td><%= ram.generalStandard %></td>
    </tr>
    <tr>
        <th scope="row">Capacity</th>
        <td><%= ram.generalCapacity %></td>
    </tr>
    <tr>
        <th scope="row">Frequency</th>
        <td><%= ram.generalFrequency %></td>
    </tr>
    <tr>
        <th scope="row">Module</th>
        <td><%= ram.generalModule %></td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th class="text-primary">Other</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Latency</th>
        <td><%= ram.otherLatency %></td>
    </tr>
    <tr>
        <th scope="row">Radiator</th>
        <td><%= ram.otherRadiator %></td>
    </tr>
    <tr>
        <th scope="row">Voltage</th>
        <td><%= ram.otherVoltage %></td>
    </tr>
    </tbody>
</table>