<h4 class="text-center"><%= ssd.description %></h4>
<table class="table table-striped">
    <tbody>
    <tr>
        <th scope="row">Form Factor</th>
        <td><%= ssd.formFactor %></td>
    </tr>
    <tr>
        <th scope="row">Capacity</th>
        <td><%= ssd.capacity %></td>
    </tr>
    <tr>
        <th scope="row">Read Transfer Rate</th>
        <td><%= ssd.readTransferRate %></td>
    </tr>
    <tr>
        <th scope="row">Write Transfer Rate</th>
        <td><%= ssd.writeTransferRate %></td>
    </tr>
    <tr>
        <th scope="row">SATA Transfer Rate</th>
        <td><%= ssd.sataTransferRate %></td>
    </tr>
    <tr>
        <th scope="row">Other</th>
        <td><%= ssd.other %></td>
    </tr>
    <tr>
        <th scope="row">type</th>
        <td><%= ssd.type %></td>
    </tr>
    </tbody>
</table>