<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/specific/material-bootstrap-wizard.css">

<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="purple" id="wizard" style="background: darkgrey">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="wizard-header">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <h4 class="text-center"><span style="color: white">Forum</span></h4>
                                        </div>
                                        <% let type = 0
                                        switch (user.data.userType) {
                                            case 'god':
                                                type = 1
                                                break
                                            case 'demigod':
                                                type = 1
                                                break
                                            case 'moderator':
                                                type = 1
                                                break
                                            default:
                                                type = 0
                                        }
                                        if (type === 1) { %>
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-simple btn-sm" data-toggle="modal"
                                                    href="javascript:void(0)" data-backdrop="true"
                                                    data-target="#archiveThread" style="margin-top: 5%">
                                                <span style="color: white"><strong>Archive</strong></span>
                                            </button>
                                            <% include ../../partials/forum/archiveThread.ejs %>
                                            <button type="button" class="btn btn-simple btn-sm" data-toggle="modal"
                                                    href="javascript:void(0)" data-backdrop="true"
                                                    data-target="#mainThread" style="margin-top: 5%">
                                                <span style="color: white"><strong>Add</strong></span>
                                            </button>
                                            <% include ../../partials/forum/addThreadModal.ejs %>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="wizard-container" style="padding-top: 0">
                                    <div class="row" style="width: 90%; margin: 0 auto">
                                        <div class="col-sm-12">
                                            <%- include ../../partials/forum/forumTables/buildIT.ejs %>
                                            <%- include ../../partials/forum/forumTables/howTo.ejs %>
                                            <%- include ../../partials/forum/forumTables/discutiiGenerale.ejs %>
                                            <%- include ../../partials/forum/forumTables/tehnologii.ejs %>
                                            <%- include ../../partials/forum/forumTables/arhiva.ejs %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('additionalScript') %>
<script type="text/javascript" src="/javascripts/specific/jquery.validate.min.js"></script>
<script>console.log(รง)</script>