<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/specific/material-bootstrap-wizard.css">

<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="purple" id="wizard">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="wizard-header">
                                    <h4 class="text-left text-primary" style="margin-left: 5%">
                                        <%= topic.fromThread.title %>
                                    </h4>
                                    <h6 class="text-left text-primary" style="margin-left: 4%">
                                        <%= topic.title %>
                                    </h6>
                                </div>
                                <div class="wizard-container" style="padding-top: 0">
                                    <div class="row" style="width: 90%; margin: 0 auto">
                                        <div class="col-sm-12">
                                            <table class="table table-responsive searchable" id="postsTable">
                                                <% posts.forEach((post) => {
                                                    var User = users.find(x => String(x._id) === String(post.postedBy._id));
                                                %>
                                                <thead>
                                                <tr style="background: purple">
                                                    <th colspan="4">
                                                        <span style="color: white">
                                                            #<%= post._id %> by <%= User.data.firstName %> <%= User.data.lastName %>
                                                            at <%= post.createdAt %>
                                                        </span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody class="searchable" id="postsTable">
                                                <tr>
                                                    <td style="width: 20%; border: 1px solid purple">
                                                        <img src="<%= User.data.image %>" height="160" width="128" alt="" style="margin-left: 10%">
                                                        <br>
                                                        <p class="description">
                                                            <span class="text-primary">
                                                                Account type: <%= User.data.accountType %>
                                                            </span>
                                                        </p>
                                                        <p class="description">
                                                            <span class="text-primary">
                                                                Rank: <%= User.data.userType %>
                                                            </span>
                                                        </p>
                                                    </td>
                                                    <td style="width: 80%; border: 1px solid purple">
                                                        <%= post.text %> <br>
                                                        <% if (post.createdAt < post.edited.at) { %>
                                                        Last edited by <%= post.edited.by.firstName %> <%= post.edited.by.lastName %>
                                                        <% } %>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <% }) %>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="pagination pagination-lg pager" id="postsPager"></ul>
                                        </div>
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <p>
                                                dsfdsfdsfdsfdskfbwojfb owbefou bewoufbnwe nwoebn fwbeouf bwbfw ieub
                                                ksdjbnojwbfweobfou 'wbefo enwbofnew oncdjownc ojwdncoiw enfonwe onewb fnweonfo nw
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <form action="/post?topicID=<%= topic._id %>" method="post">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label for="post" class="control-label">Post here</label>
                                                                <textarea title="post" id="post" name="post" class="form-control"
                                                                          rows="8" style="border: 2px solid purple"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="height: 10%">
                                                    <div class="col-sm-3 col-sm-offset-5">
                                                        <div class="form-group" style="margin-top: -30%">
                                                            <button type="submit" class="btn btn-sm btn-primary">
                                                                Post
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('additionalScript') %>
