<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/specific/material-bootstrap-wizard.css">

<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="purple" id="wizard" style="background: #9b95d8">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="wizard-header">
                                    <h4 class="text-left" style="margin-left: 5%">
                                        <span style="color: white">
                                            <%= topic.fromThread.title %>
                                        </span>
                                    </h4>
                                    <h6 class="text-left" style="margin-left: 4%">
                                        <span style="color: white">
                                            <%= topic.title %>
                                        </span>
                                    </h6>
                                </div>
                                <div class="wizard-container" style="padding-top: 0">
                                    <div class="row" style="width: 90%; margin: 0 auto">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-responsive searchable" id="postsTable">
                                                <% posts.forEach((post) => {
                                                    var User = users.find(x => String(x._id) === String(post.postedBy._id));
                                                %>
                                                <thead>
                                                <tr style="background: #98a7e1">
                                                    <th colspan="4">
                                                        #<%= post._id %> by <%= User.data.firstName %> <%= User.data.lastName %>
                                                        at <%= post.createdAt %>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody class="searchable" id="postsTable">
                                                <tr>
                                                    <td style="width: 15%">
                                                        <%= User.data.image %> <br>
                                                        Account type: <%= User.data.accountType %> <br>
                                                        Rank: <%= User.data.userType %>
                                                    </td>
                                                    <td style="width: 85%">
                                                        <%= post.text %> <br>
                                                        <% if (post.createdAt < post.edited.at) { %>
                                                        Last edited by <%= post.edited.by.firstName %> <%= post.edited.by.lastName %>
                                                        <% } %>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <% }) %>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="pagination pagination-lg pager" id="postsPager"></ul>
                                        </div>
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <p>
                                                dsfdsfdsfdsfdskfbwojfb owbefou bewoufbnwe nwoebn fwbeouf bwbfw ieub
                                                ksdjbnojwbfweobfou 'wbefo enwbofnew oncdjownc ojwdncoiw enfonwe onewb fnweonfo nw
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <form action="/post?topicID=<%= topic._id %>" method="post">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <textarea title="post" id="post" name="post" class="form-control" rows="4" style="background: white"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="height: 10%">
                                                    <div class="col-sm-3 col-sm-offset-5">
                                                        <div class="form-group" style="margin-top: -30%">
                                                            <button type="submit" class="btn btn-sm btn-simple">
                                                                <span style="color: white">
                                                                    Post
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('additionalScript') %>
<script type="text/javascript" src="/javascripts/specific/forumPosts/pagination.js"></script>