<button type="button" class="btn btn-primary btn-sm pull-right" style="margin-bottom: 5%" data-toggle="modal" data-target="#boardDetails<%= item._id%>" data-backdrop="true" >
    Details
</button>

<div class="modal fade" id="boardDetails<%= item._id%>" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center"><%= item.name %></h4>
                <div id="first-slider">
                    <div id="carousel-example-generic<%= item._id %>" class="carousel slide carousel-fade" style="margin-top: 5%">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic<%= item._id %>" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic<%= item._id %>" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic<%= item._id %>" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic<%= item._id %>" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <!-- Item 1 -->
                            <div class="item active slide1">
                                <div class="row">
                                    <img width="300" height="300" data-animation="animated zoomInLeft" src="<%= item.image0 %>" style="margin-left: 25%">
                                </div>
                            </div>
                            <!-- Item 2 -->
                            <% if (item.image1) { %>
                            <div class="item slide2">
                                <div class="row">
                                    <img width="300" height="300" data-animation="animated zoomInLeft" src="<%= item.image1 %>" style="margin-left: 25%">
                                </div>
                            </div>
                            <% } %>
                            <!-- Item 3 -->
                            <% if (item.image2) { %>
                            <div class="item slide3">
                                <div class="row">
                                    <img width="300" height="300" data-animation="animated zoomInLeft" src="<%= item.image2 %>" style="margin-left: 25%">
                                </div>
                            </div>
                            <% } %>
                            <!-- Item 4 -->
                            <% if (item.image3) { %>
                            <div class="item slide4">
                                <div class="row">
                                    <img width="300" height="300" data-animation="animated zoomInLeft" src="<%= item.image3 %>" style="margin-left: 25%">
                                </div>
                            </div>
                            <% } %>
                            <!-- End Item 4 -->

                        </div>
                        <!-- End Wrapper for slides-->
                        <a class="left carousel-control" href="#carousel-example-generic<%= item._id %>" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic<%= item._id %>" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Specifications</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-primary">Processor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Socket</th>
                            <td><%= item.cpuSocket %></td>
                        </tr>
                        <tr>
                            <th scope="row">Chipset</th>
                            <td><%= item.cpuChipset %></td>
                        </tr>
                        <tr>
                            <th scope="row">Supported Processors</th>
                            <td><%= item.cpuSupported %></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th class="text-primary">Memory</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Type</th>
                            <td><%= item.memoryType %></td>
                        </tr>
                        <tr>
                            <th scope="row">Max Capacity</th>
                            <td><%= item.memoryMaxCapacity %></td>
                        </tr>
                        <tr>
                            <th scope="row">Frequency</th>
                            <td><%= item.memoryFreq %></td>
                        </tr>
                        <tr>
                            <th scope="row">Dual Support</th>
                            <td><%= item.memoryDualSupport %></td>
                        </tr>
                        <tr>
                            <th scope="row">Slots</th>
                            <td><%= item.memorySlots %></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th class="text-primary">Connectivity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">PCI</th>
                            <td><%= item.connectivityPCI %></td>
                        </tr>
                        <tr>
                            <th scope="row">Audio</th>
                            <td><%= item.connectivityAudio %></td>
                        </tr>
                        <tr>
                            <th scope="row">LAN</th>
                            <td><%= item.connectivityLAN %></td>
                        </tr>
                        <tr>
                            <th scope="row">SATA</th>
                            <td><%= item.connectivityATA %></td>
                        </tr>
                        <tr>
                            <th scope="row">Transfer Rate</th>
                            <td><%= item.connectivityTransferRate %></td>
                        </tr>
                        <tr>
                            <th scope="row">USB 2.0</th>
                            <td><%= item.connectivityUSB2 %></td>
                        </tr>
                        <tr>
                            <th scope="row">USB 3.0</th>
                            <td><%= item.connectivityUSB3 %></td>
                        </tr>
                        <tr>
                            <th scope="row">Connectivity</th>
                            <td><%= item.connectivityCon %></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th class="text-primary">Slots</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">PCI x16</th>
                            <td><%= item.slotsPCIx16 %></td>
                        </tr>
                        <tr>
                            <th scope="row">PCI x1</th>
                            <td><%= item.slotsPCIx1 %></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th class="text-primary">Other</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Format</th>
                            <td><%= item.otherFormat %></td>
                        </tr>
                        <tr>
                            <th scope="row">Size</th>
                            <td><%= item.otherSize %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
