<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/specific/hipster_cards.css">

<div class="main" style="margin-top: 5%">

    <div class="wrapper">       
        <div class="container">
            <% news.forEach((item) => { %>
                    <div class="card-box col-md-4 col-sm-6">
                        <div class="card">
                            <div class="header">
                                <img class="img-responsive" src="<%= item.image %>" style="width: 100%; height: 100%; margin-top: -10px;">
                                <div class="filter"></div>

                                <div class="actions">
                                    <a href="<%= item.link %>">
                                        <button class="btn btn-round btn-fill btn-neutral btn-modern">
                                            Read Article
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <h6 class="category">News</h6>
                                <h4 class="title"><%= item.title %></h4>
                                <p class="description"><%= item.description %></p>
                            </div>
                        </div>
                    </div>
            <% }) %>
        </div>
    </div>

</div>