<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/specific/hipster_cards.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/specific/coming-sssoon.css">

<div class="main" style="margin-top: 100px;">

    <div class="wrapper">
        <div class="container">
            <% users.forEach((item) => { %>
                <div class="card-box col-md-4 col-sm-6">

                    <div class="card">
                        <div class="header" style="height: 10%">
                            <% if (item.github.oauthID) { %>
                            <h4 class="text-center"><span style="margin-left: 5%">User created with Github</span></h4>
                            <% } else if (item.google.oauthID) { %>
                            <h4 class="text-center"><span style="margin-left: 5%">User created with Google</span></h4>
                            <% } else if (item.instagram.oauthID) { %>
                            <h4 class="text-center"><span style="margin-left: 5%">User created with Instagram</span></h4>
                            <% } else if (item.local.username) { %>
                            <h4 class="text-center"><span style="margin-left: 5%">User created locally</span></h4>
                            <% } else if (item.facebook.oauthID) { %>
                            <h4 class="text-center"><span style="margin-left: 5%">User created with Facebook</span></h4>
                            <% } %>
                        </div>
                        <div class="content" style="height: 70%">
                            <h6 class="category">Name</h6>
                            <% if (item.data.firstName && item.data.lastName) { %>
                            <h5 class="title"><%= item.data.firstName %> <%= item.data.lastName %></h5>
                            <% } else if (item.facebook.name) { %>
                            <h5 class="title"><%= item.facebook.name %></h5>
                            <% } else if (item.google.firstName && item.google.lastName) { %>
                            <h5 class="title"><%= item.google.firstName %> <%= item.google.lastName %></h5>
                            <% } else if (item.instagram.firstName && item.instagram.lastName) { %>
                            <h5 class="title"><%= item.instagram.firstName %> <%= item.instagram.lastName %></h5>
                            <% } else { %>
                            <h5 class="title"></h5>
                            <% } %>

                            <h6 class="category">Username</h6>
                            <% if (item.local.username) { %>
                            <h5 class="title"><%= item.local.username %></h5>
                            <% } else if (item.github.name) { %>
                            <h5 class="title"><%= item.github.name %></h5>
                            <% } %>


                            <h6 class="category">Account Type</h6>
                            <h5 class="title"><%= item.data.accountType %></h5>

                            <h6 class="category">Email</h6>
                            <% if (item.data.email) { %>
                            <h5 class="title"><%= item.data.email %></h5>
                            <% } else if (item.google.email) { %>
                            <h5 class="title"><%= item.google.email %></h5>
                            <% } else if (item.facebook.email) { %>
                            <h5 class="title"><%= item.facebook.email %></h5>
                            <% } else { %>
                            <h5 class="title"></h5>
                            <% } %>

                            <h6 class="category">User Type</h6>
                            <h5 class="title"><%= item.data.userType %></h5>
                        </div>
                    </div>

                    <div class="description" style="margin-top: -20%">
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-1">
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                        href="javascript:void(0)" data-backdrop="true"
                                        data-target="#userType<%= item._id%>">
                                    Update User type
                                </button>
                                <% include ../partials/userData/userDataModal.ejs %>
                            </div>
                            <div class="col-sm-5">
                                <form action="/userData/removeUser?id=<%= item._id %>" method="post" class="pull-right">
                                    <button type="submit" class="btn btn-danger btn-sm" style="">
                                        Remove User
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

</div>