<div class="col-sm-12">
    <input id="filterRam" type="text" class="form-control pull-right" placeholder="Type here..." style="width: 25%">
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th style="width: 10%"></th>
            <th style="width: 15%">Name</th>
            <th style="width: 10%">Type</th>
            <th style="width: 10%">Capacity</th>
            <th style="width: 10%">Frequency</th>
            <th style="width: 10%">Latency</th>
            <th style="width: 10%">Radiator</th>
            <th style="width: 10%">Rating</th>
            <th style="width: 10%">Price</th>
        </tr>
        </thead>
        <tbody class="searchable4" id="ramTable">
        <%ramArray.forEach(function(item) {%>
        <tr>
            <th scope="row" style="width: 10%">
                <img src="<%= item.image0 %>" alt="" height="64" width="64">
            </th>
            <td style="width: 15%">
                <%= item.name %>
            </td>
            <td style="width: 10%">
                <%= item.generalType %>
            </td>
            <td style="width: 10%">
                <%= item.generalCapacity %>
            </td>
            <td style="width: 10%">
                <%= item.generalFrequency %>
            </td>
            <td style="width: 10%">
                <%= item.otherLatency %>
            </td>
            <td style="width: 10%">
                <%= item.otherRadiator %>
            </td>
            <td style="width: 10%">
                <%= item.rating %> <li class="fa fa-star" style="color: gold"></li>
            </td>
            <td style="width: 10%">
                <%= item.price %>
            </td>
            <td style="width: 5%">

                <% include ../componentDetails/ramDetails.ejs %>

            </td>
            <td style="width: 5%">
                <div class="choice" data-toggle="wizard-checkbox">
                    <input class="messageCheckbox" type="checkbox" title="Add me" value="<%= item._id %>^<%= item.colType %>">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                </div>
            </td>
        </tr>
        <%})%>
        </tbody>
    </table>
    <table class="footer">
        <div class="text-center">
            <ul class="pagination pagination-lg pager" id="ramPager"></ul>
        </div>
    </table>
</div>