<div class="col-sm-12">
    <input id="filterCpu" type="text" class="form-control pull-right" placeholder="Type here..." style="width: 25%">
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th style="width: 10%"></th>
            <th style="width: 15%">Name</th>
            <th style="width: 10%">Cache</th>
            <th style="width: 10%">Socket</th>
            <th style="width: 10%">Frequency</th>
            <th style="width: 10%">Turbo Boost</th>
            <th style="width: 10%">No. Cores</th>
            <th style="width: 10%">Rating</th>
            <th style="width: 10%">Price</th>
        </tr>
        </thead>
        <tbody class="searchable2" id="cpuTable">
        <%cpuArray.forEach(function(item) {%>
        <tr>
            <th scope="row" style="width: 10%">
                <img src="<%= item.image0 %>" alt="" height="64" width="64">
            </th>
            <td style="width: 15%">
                <%= item.name %>
            </td>
            <td style="width: 10%">
                <%= item.cache %>
            </td>
            <td style="width: 10%">
                <%= item.socket %>
            </td>
            <td style="width: 10%">
                <%= item.frequency %>
            </td>
            <td style="width: 10%">
                <%= item.turboBoost %>
            </td>
            <td style="width: 10%">
                <%= item.cores %>
            </td>
            <td style="width: 10%">
                <%= item.rating %> <li class="fa fa-star" style="color: gold"></li>
            </td>
            <td style="width: 10%">
                <%= item.price %>
            </td>
            <td style="width: 5%">

                <% include ../componentDetails/processorDetails.ejs %>

            </td>
            <td style="width: 5%">
                <div class="choice" data-toggle="wizard-checkbox">
                    <input class="messageCheckbox" type="checkbox" title="Add me" value="<%= item._id %>^<%= item.colType %>">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                </div>
            </td>
        </tr>
        <%})%>
        </tbody>
    </table>
    <table class="footer">
        <div class="text-center">
            <ul class="pagination pagination-lg pager" id="cpuPager"></ul>
        </div>
    </table>
</div>